@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: 17, 17, 17;
    --color-text-muted: 34, 34, 34;
    --color-fill: 241, 241, 241;
    --color-fill-two: 245, 245, 245;
    --color-button-accent: 17, 17, 17;
    --color-button-accent-hover: 34, 34, 34;
    --color-button-muted-hover: 79, 70, 229;
    --color-button-muted: 40, 34, 159;

  }

  .theme-black {
    --color-text-base: 242, 242, 242;
    --color-text-muted: 244, 244, 244;
    --color-fill: 17, 17, 17;
    --color-fill-two: 34, 34, 34;
    --color-button-accent: 242, 242, 242;
    --color-button-accent-hover: 225, 217, 217;
    --color-button-muted-hover: 195, 34, 47;
    --color-button-muted: 158, 18, 39;

  }

  .theme-profile-black {
    --color-fill-grey: 153, 153, 153, 0.3;
    --color-text-base: 242, 242, 242;
    --color-text-grey: 192, 192, 192;
    --color-text-blue: 128, 163, 176;
    --color-fill-blue: 42, 42, 171, 0.9;
    --color-camera-button: 241, 241, 241, 0.1;
    --color-fill: 34, 34, 34;
    --color-fill-white: 242, 242, 242;
    --border-color-primary: 34, 34, 34;
    --border-color-secondary: 68, 68, 68;
    --color-dark-black: 17, 17, 17;
  }

  .theme-profile-light {
    --color-dark-black: 17, 17, 17;
    --color-text-blue: 43, 124, 233;
    --color-fill-blue: 229, 242, 255;
    --color-text-base-white: 242, 242, 242;
    --bg-color-grey: 192, 192, 192;
    --color-text-grey: 100, 100, 100;
    --color-fill-grey: 153, 153, 153, 0.3;
    --color-camera-button: 228, 230, 235;
    --color-fill-white: 241, 241, 241;
    --border-color-primary: 241, 241, 241;
    --border-color-secondary: 200, 200, 200;
  }
}